<footer>
  <div id="naslov">
    <p>Eros Ramazzotti - Battito Infinito World Tour 2023</p>
  </div>
  <br />
  <br />
  <div id="social">
    <a href="https://www.instagram.com/ramazzotti_eros/?hl=en" target="_blank">
      <img src="assets/button/instagram-logo.png" alt="insta" class="img" />
    </a>
    <a
      href="https://www.facebook.com/ramazzotti.eros.official/"
      target="_blank"
    >
      <img src="assets/button/facebook.png" alt="face" class="img" />
    </a>
    <a href="https://twitter.com/RamazzottiEros" target="_blank">
      <img src="assets/button/twitter.png" alt="twitter" class="img" />
    </a>
    <a
      href="https://www.youtube.com/channel/UC-6TzsYLnG8R-K-r-rVaaeA"
      target="_blank"
    >
      <img src="assets/button/social.png" alt="yt" class="img" />
    </a>
  </div>
  <div>
    <br />
    <br />
    <br />
    <p class="copyright">Teodora Stevanovic © 2023</p>
  </div>
  <br />
</footer>
